:root {
  --primary-background-color: #14253D;
  --primary-color: #E91E63;
  --secondary-color: #8bacda;
  --bright-color: #00FFF8;
}

* {
  font-family: 'Inter', sans-serif;
}

.header-bottom {
  border-bottom: 1px solid #6f727485;
  box-shadow: 0px 1px 6px #60357d;
}

.SwiperSlide {
  background-color: var(--primary-background-color);
}

.logo {
  width: 30px;
  height: 30px;
}
.avatar {
  width: 50px;
  height: 50px;
}
.live-status {
  background-color: var(--secondary-color);
  left: 1rem;
  top: 1rem;
  color: var(--primary-color);
  padding: 6px 8px;
}
.primary-text {
  color: var(--primary-color);
}
.secondary-text {
  color: var(--secondary-color);
}
.bright-text {
  color: var(--bright-color);
}
hr.divider {
  border: 1px solid var(--secondary-color);
}

.rounded-wpits {
  border-radius: 1rem;
}
.btn-primary-wpits {
  background-color: var(--primary-color);
  border: 1px solid white;
  color: white;
  width: 7rem;
}
.btn-operators {
  background-color: var(--primary-color);
  color: white;
  width: 30px;
  text-align: center;
}
.btn-add {
  font-size: 1.5rem;
}


.sticky-footer {
  background-color: white;
}

@media (max-width: 575.98px) {
  .card-sub-title,
  .ethereum-section,
  .bid-section,
  .bid-operators-section,
  .sticky-footer {
    font-size: 0.8rem !important;
  }
}
